body
{
    font-family: 'Indie Flower', cursive;
    background-color: #d4ccde;
}

.logo
{
    width: 100px;
    border-radius: 50%;
}

.card-body
{
    padding:1px;
}

.card
{
    background-color: #fff;
    border: 1px solid rgba(0,0,0,125);
    border-radius:0px;
}

.origins
{
    background-color: #669999;
}

.us-four
{
    background-color: #cc6666;
}

.reunion
{
    background-color: #cc9966;
}

.the-show
{
    background-color: #138496;
}

h3.card-title
{
    font-size: 24px;
}


p.card-text
{
    padding-bottom: 10px;
    line-height: 14px;
}

.img-fluid
{
    padding-left: 10%;
    padding-bottom: 10%;
}

.dj
{
    background-color: #b3d7ff;
}

.md
{
    background-color: #ffe8a1;
}

.mn
{
    background-color: #20c997;
}

.pt
{
    background-color: #f5c6cb;
}

.home-header1
{
    padding-top: 50px;
    padding-bottom: 50px;
}

.home-header2
{
    padding-top: 25px;
    padding-bottom: 25px;
}

















